################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LogFiles
/.vs/HRMS_GIT21/CopilotIndices/17.14.1696.13113
/.vs/HRMS_GIT21/FileContentIndex
/.vs/HRMS_GIT21/v17
