################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LogFiles
*.zip

/.vs/HRMS_GIT21/v17
/.vs/HRMS_GIT21/FileContentIndex
