<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" maxRequestLength="2097151" executionTimeout="3600" />
    <pages controlRenderingCompatibilityVersion="4.0" />

    <authentication mode="None" />

    <sessionState mode="InProc" timeout="20" />

    <customErrors mode="Off" />
  </system.web>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;" />
  </appSettings>

  <system.webServer>

    <handlers>
      <add name="ChartImg"
           verb="*"
           path="ChartImg.axd"
           type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler,
                 System.Web.DataVisualization, Version=4.0.0.0,
                 Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>

    <modules runAllManagedModulesForAllRequests="true" />

    <!-- FIXED: No duplicate Default.aspx -->
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>

  </system.webServer>

</configuration>
